#asteroids_game {
  width: 500px;
  margin: 10px auto;
	padding: 0;
  border: 2px solid black;
}

#asteroids_game canvas {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
